@import "footer.css";
@import "index.css";
@import "blog-post.css";


html, body{
	margin: auto 0;
	font-family: verdana;

}

nav{
	position: fixed;
	background-color: white;
	width: 100%;
	box-shadow: 0 0 10px 0;
}
.container{
	padding: 0;
}

.container ul{
	display: flex;
}

.container li{
	display: flex;
	list-style: none;
}

#blog-name{
	display: flex;
	align-items: center;
	padding: 12px;
	font: 30px/1.6 "san sarif";
	border: 2px solid black;
	background-color: #1010
}

.top-nav{
	display: flex;
	align-items: center;
	margin-left: auto;
}

.top-nav a{

	text-decoration: none;
	padding: 10px;
	margin: 0 50px 0 0;
	color: black;

}

.top-nav a:hover{
	color: #777
}

.cover{
	/*display: flex;
	width: 100%;
	height: 100vh;*/

	background: url(../img/cover-2.jpg);
	/*background-size: cover;*/
}

.b{
	display: grid;
	grid-template-columns: 3fr 1fr;

}

.aside{
	font: 16px/1.6 "san sarif";
	display: grid;
	background-color: white;
	justify-content: center;

}

.about-author{
	background-color: #f2f2f2;
	margin: 25px;
}

#bio{
	margin: 0 30px 30px;
}

.author-1{
	margin: 50px 100px 0;
	height: 300px;
	width: 300px;
	border-radius: 50%;

}

.more-post{
	text-align: center;
	font: 23px/1.6 "san sarif";

}

.more-post a{
	color: black;
}

.main{
	font: 16px/1.6 "san sarif";
	display: grid;
	grid-template-columns: 1fr;
	background-color: #1010;
	margin: 50px;
	font-size: 16px;
}

.heading{
	margin: 0 0 0 0;
	

}

.blog-title{
	font: 45px/1 "san sarif";
}

#date-author{
	margin: -30px 0 0 0;
	color : #777;
}

p {
	margin: 0;
}

.header{
	text-align: center;
	margin: 0;
	font-size: 25px;
}

.fowls{
	display: flex;
	justify-content: center;
	height: 300px;
	width: 70%;
	margin: 50px;
}

.c{
	display: grid;
	background-color: #555;
	align-items: center;
	justify-content: center;
	height: 40vh;
	width: 100%
}

@media (max-width: 319px){
	.container{
		padding: 0;
	}

	.top-nav a{
		font-size: 6px;
		text-decoration: none;
		padding: 8px;
		margin: 0 3px 0 0;
		color: black;
	}

	#blog-name{ 
		font-size: 10px;
		margin: 0 0 0 -30px;
		border: 2px solid black;
		padding: 7px;
	}

	.b{
		grid-template-columns: 1fr;
	}

	.aside{
	display: none;
	}

	.main{
		grid-template-columns: 1fr;
	}

}

@media (min-width: 320px) and (max-width: 480px){
	.container{
		padding: 0;
	}

	.top-nav a{
		font-size: 8px;
		text-decoration: none;
		padding: 9px;
		margin: 0 4px 0 0;
		color: black;
	}

	#blog-name{ 
		font-size: 10px;
		margin: 0 0 0 -30px;
		border: 2px solid black;
	}

	.b{
		grid-template-columns: 1fr;
	}

	.author-1{
		margin: 50px 50px 0;
		height: 70px;
		width: 70px;
		border-radius: 50%;
	}

	.more-post{
		font: 15px/1.5 "san sarif";
	}

	.main{
		grid-template-columns: 1fr;
	}

}

@media (min-width: 481px) and (max-width: 767px){
	.container{
		padding: 0;
	}

	.top-nav a{
		font-size: 14px;
		text-decoration: none;
		padding: 10px;
		margin: 0 10px 0 0;
		color: black;
	}

	#blog-name{ 
		font-size: 16px;
		margin: 0 0 0 -30px;
		border: 2px solid black;
		background-color: #1010
	}

	.b{
		grid-template-columns: 1fr;

	}

	.main{
		grid-template-columns: 1fr;
	}

	.author-1{
		margin: 50px 50px 0;
		height: 100px;
		width: 100px;
		border-radius: 50%;
	}

	.about-author{
		background-color: #f2f2f2;
		margin: 25px;
		height: 70%;
	}

	.more-post{
		text-align: center;
		font: 16px/1.6 "san sarif";
	}

	.author-1{
		height: 100px;
		width: 100px;
	}

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait;) { 
	.container{
		padding: 0;
	}
	.top-nav a{
		text-decoration: none;
		padding: 10px;
		margin: 0 30px 0 0;
		color: black;
	}

	#blog-name{ 
		font-size: 25px;
		margin: 0 0 0 -30px;
		border: 2px solid black;
		background-color: #1010
	}

	.cover{
		height: 35vh;
	}

	.b{
		grid-template-columns: 3fr 1fr;
	}
}

@media (min-width: 768px) and (max-width: 1024px){
	.container{
		padding: 0;
	}
	.top-nav a{
		text-decoration: none;
		padding: 10px;
		margin: 0 30px 0 0;
		color: black;
	}

	#blog-name{ 
		font-size: 25px;
		margin: 0 0 0 -30px;
		border: 2px solid black;
		background-color: #1010
	}

	.b{
		grid-template-columns: 3fr 1fr;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.container{
		padding: 0;
	} 
	.top-nav a{
		text-decoration: none;
		padding: 10px;
		margin: 0 30px 0 0;
		color: black;
	}

	#blog-name{ 
		font-size: 25px;
		margin: 0 0 0 -30px;
		border: 2px solid black;
		background-color: #1010
	}
}

@media (min-width: 1025px) and (max-width: 1280px){
	.container{
		padding: 0;
	}
	.top-nav a{
		text-decoration: none;
		padding: 10px;
		margin: 0 50px 0 0;
		color: black;
	}

	#blog-name{
	display: flex;
	align-items: center;
	padding: 12px;
	font: 30px/1.6 "san sarif";
	border: 2px solid black;
	background-color: #1010
	}

}

@media (min-width: 1281px){
	.container{
		padding: 0;
	} 
	.top-nav a{
		text-decoration: none;
		padding: 10px;
		margin: 0 50px 0 0;
		color: black;
	}

	#blog-name{
		display: flex;
		align-items: center;
		padding: 12px;
		font: 30px/1.6 "san sarif";
		border: 2px solid black;
		background-color: #1010
	}
}